.sources {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 255px;
    overflow-y: scroll;
    align-items: center;
    font: 300 1em 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 3px solid #d899f3;
    border-radius: 10px;
    padding: 1.1em;
}

.source__item {
    background: none;
    border: 2px solid #bf72e0;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #e4a9fd;
    transition: 0.25s;
    cursor: pointer;
}

.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    white-space: nowrap;
    font-weight: 700;
}
